#nav {
    height: 50px;
    width: auto;
    padding-right: 10vh;
    
}

#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#nav ul li {
    display: inline;
    height: 50px;
  }
  
  #nav ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    height: 50px;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  #nav ul li a:hover {
    background-color: #523b34;
    color: #E5E5E5;
  }

  #nav ul li a.active {
    background-color: #523b34;
    color: #E5E5E5;
}

@media screen and (max-width: 1024px) {
  #nav {
    display: flex;
    flex-direction: column; 
    background-color: #EFEFEF;
    width: 100%;
  }

  #nav ul {
    background-color: #EFEFEF;
    padding: 0;
    margin: 0;
    width: 100%; /* Définir la largeur du menu à 100% */
  }

  #nav ul li {
    padding: 0;
    background-color: #EFEFEF;
    padding: 0;
    width: 100%; 
  }
  
  #nav ul li a {
    background-color: #EFEFEF;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  #nav.open {
      display: block;
  }
}