#title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position:relative;
    text-align: center; /* Centrer le contenu */
}

#background-title {
    position:relative;
    font-family: 'Valkyrie-BoldExtended';
    font-size: 70px;
    opacity: 10%;
    text-transform: uppercase;
}

#main-title {
    position:absolute;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom:45px;
}

#background-title:after {
    content: '';
    display: block;
    width: 1.5px;
    background-color: #a58b8b;
    height: 25px; 
    margin: 0 auto 0 auto;
    opacity: 100%;
}

@media (max-width: 1024px) {
    #title {
        min-width: 320px;
    }
    #background-title {
        font-size: 50px;
    }
    #main-title {
        margin-bottom: 35px;
    }
}

@media (max-width: 767.98px) {
    #title {
        min-width: 320px;
    }
    #background-title {
        font-size: 30px; /* Ajuster la taille de la police pour les tablettes */
    }

    #main-title {
        font-size: 18px; /* Ajuster la taille de la police pour les tablettes */
    }
}

