#title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position:relative
}

#background-title {
    position:relative;
    font-family: 'Valkyrie-BoldExtended';
    font-size: 70px;
    opacity: 15%;
    text-transform: uppercase;
}

#main-title {
    position:absolute;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom:45px;
}

#background-title:after {
    content: '';
    display: block;
    width: 1px;
    background-color: #ccc;
    height: 25px; 
    margin: 0 auto 0 auto;
    opacity: 100%;
}

