.menu-enter {
    transform: scaleY(0);
    opacity: 0;
    transform-origin: top;
}

.menu-enter-active {
    transform: scaleY(1);
    opacity: 1;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.menu-exit {
    transform: scaleY(1);
    opacity: 1;
    transform-origin: top;
}

.menu-exit-active {
    transform: scaleY(0);
    opacity: 0;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

#menu {
    z-index: 1003;
    position: fixed; /* Ajoutez cette ligne */
    top: 0; /* Ajoutez cette ligne */
    left: 0; /* Ajoutez cette ligne */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    gap: 10px;
    background-color: rgb(239, 239, 239);
    width: 100%;
}

.fixed-menu {
    top: 0;
    z-index: 1000;
}

#nom-logo {
    font-family: 'Valkyrie-Bold';
    color: #523b34;
    font-weight: 900;
    padding-left: 10vh;
    
}

.menu.open {
    display: block;
}

.menu-toggle {
    display: none;
    position: absolute;
    margin-top: 18px;
    right: 121px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    #menu {
        display: flex;
        flex-direction: column;
        padding: 0;
        width:100%;
    }
    #nav {
        margin-top: -1px;
        z-index: 1001;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 0;
    }
    
    #nav.open {
        display: block;
        margin-top: -11px;
    }
    #nom-logo {
        font-size: 20px;
        margin-top: 11px;
        padding: 0;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    nav ul {

        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        padding: 10px;
        text-align: center;
    }

    nav.open ul {
        display: block;
        background-color: white;
    }

    .menu-toggle {
        right : 20px;
    }
}

@media screen and (max-width: 768px) {
    #nav ul {
        display: block;
    }
}
