.work-title {
    position: relative;
    width: 100%;
    height: 241px;
    background-color: #1a1a1a;
    background-size: 100%; /* Taille de l'arrière-plan par défaut */
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-size 0.5s ease-in-out; /* Transition de la taille de l'arrière-plan */
}

.work-title:hover {
    background-size: 110%; /* Taille de l'arrière-plan au survol */
}

.title-overlay {
    position: absolute;
    bottom: 0;
    width: 221px;
    background: linear-gradient(rgba(0,0,0,1), transparent);
    padding: 10px;
    color: white;
    display: none; /* Par défaut, le titre est caché */
    text-align: left;
}

.title-overlay.show {
    display: block; /* Afficher le titre uniquement lorsque survolé */
}

.div-tag {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    margin-top:7px ;
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 425px) {
    .work-article {
        width: 100%;
        padding: 0 20px;
    }
}