.section-modal {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
}

.section-modal.open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0s linear;
    z-index: 1004;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1002; 
}



.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px 60px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1003;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: 600px;
    width: 104vh;
}

.modal::-webkit-scrollbar {
    width: 10px;
  }
  
  .modal::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px; /* Arrondi pour la piste de défilement */
  }
  
  .modal::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Couleur de la poignée */
    border-radius: 10px; /* Arrondi pour la poignée */
  }
  
  .modal::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4); /* Couleur de la poignée au survol */
  }

.close-modal {
    position: absolute;
    top: 10px;
    right: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    color: #8d8c8c;
}

.close-modal:hover {
    color: #343333;
}


.modal img {
    width: 100%;
    height: 400px;
    border-radius: 4px;
    margin-bottom: 10px;
    object-fit: cover;
}

.modal h2 {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.modal .project-date {
    margin-bottom: 10px;
}

.modal .project-description {
    margin: 10px 0 20px 0;
}

.modal-tags {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.modal-tags .tag {
    margin-right: 5px;
}

.buttons-modal {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.modal a:hover {
    background-color: #626C5F;
}

.button-modal,
.modal a {
    background-color: #2C322E;
    width: 179px;
    height: 36px;
    color: white;
    border: none;
    padding: 0; /* Supprime le rembourrage pour que la hauteur soit déterminée uniquement par la hauteur et la taille de la police */
    cursor: pointer;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .modal {
        max-width: 70%
    }
}


@media only screen and (max-width: 425px) {
    .modal {
        padding: 20px 30px;
        max-width: 65%;
    }
    .modal-tags {
        flex-direction: column;
        gap: 5px;
    }
    .close-modal {
        right: 10px;
    }
}