#image {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #E8DFDA;
    overflow: hidden;
}

#image p {
    font-size: 21px;
}